*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

/* box 1 */
.navbar{
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo.border{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("/Amazon-Landing-Page/images/amazon_logo.png");
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

/* box 2 */
.location.border{
    padding: 5px 0px 0px 10px;
    align-items: center;
    height: 50px;
    width: 95px;
    /* padding-right: 10px; */
}

.location-logo{
    height: 15px;
    width: 15px;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 17px;
}

.add-second{
    font-size: 1rem;
    margin-left: 5px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/* box 3 */
.nav-search{
    display: flex;
    background-color: pink;
    justify-content: space-evenly;
    height: 30px;
    width: 910px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 3px solid orange;
}

.search-select{
    background-color: #FFFFFF;
    color: #0f1111;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 850px;
    font-size: 1rem;
    border: none;
}

.search-icon{
    color: black;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgba(243, 175, 1, 0.806);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}

/* box 4 */
/* nav laguage */
.nav-language{
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 5px;
}

.nav-language.border{
    width: 70px;
    height: 50px;
}

.nav-laguage-arrow{
    padding-left: 5px;
    padding-bottom: 0%;
}

.nav-language-flag{
    background-image: url(/Amazon-Landing-Page/images/Flag_of_the_United_States.png);
    background-position: center;
    background-size: cover;
    height: 16px;
    width: 20px;
}

/* Box 5 */
/* nav-accounts */
.nav-sign-in{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 150px;
}

span{
    padding: 20px 0px 0px 5px;
    font-size: 0.7rem;
}

.second-part{
    display: flex;
    padding: 5px 0px 0px 0px;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
    padding: 0px 5px 0px 5px;
}

/* Box 6 */
/* nav-orders */
.nav-return.border{
    padding: 5px 0px 0px 0px;
    width: 78px;
    height: 50px;
}

/* Box 7 */
/* nav-cart */
.nav-cart{
    display: flex;
    align-items: end;
    padding: 0px 0px 5px 5px;
    height: 50px;
    width: 85px;
}

.nav-cart i{
    font-size: 30px;
}

/* nav bar 2 */
.navbar2{
    background-color: #232F3E;
    color: white;
    display: flex;
    align-items: center;
    height: 40px;
}

/* nav2 All */
.nav2All{
    width: 60px;
    height: 40px;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

/* nav2 today */
.nav2-today{
    height: 40px;
    width: 105px;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

/* nav2 customer */
.nav2-customer{
    height: 40px;
    width: 135px;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.nav2-registry{
    height: 40px;
    width: 75px;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.nav2-gift{
    height: 40px;
    width: 85px;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.nav2-sell{
    height: 40px;
    width: 45px;
    text-align: center;
    padding: 10px 0px 0px 0px;
}


/* Hero section */
.hero-section{
    background-image: url(/Amazon-Landing-Page/images/hero_img.jpg);
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* hero msg */
.hero-msg{
    background-color: #f5f6f6;
    height: 35px;
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 30px;
}

.hero-msg a{
    color: #007185;
}

/* shop section */
.bgshop-section{
    padding-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(7, 20, 52);
}

.shop-section{
    padding: 0px 0px 15px 0px;
    display: flex;
    justify-content: space-evenly;
    background-color: lightgray;
}

.box{
    padding-top: 10px;
    border: 2px solid white;
    height: 400px;
    width: 24%;
    background-color: white;
    position: relative;
}

.long-box{
    padding-top: 10px;
    border: 2px solid white;
    height: 300px;
    background-color: white;
    position: relative;
}

h2{
    padding: 10px 0px 10px 24px;
    width: 350px;
}

.long-text{
    padding: 10px 0px 10px 24px;
    width: 500px;
}

.see-more{
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 18px;
    color: #007185;
}

.series-of-img{
    display: flex;
    justify-content: space-evenly;
}

.border2{
    border: 2px solid black; 
    border-radius: 20%;
}

.backtotop{
    background-color: #374658;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

/* section 2 */
.section2{
    background-color: #232F3E;
    color: white;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0px 0px 0px;
}

.parts{
    display: flex;
    justify-content: space-evenly;
}

.know{
    padding: 0px 0px 7px 0px;
}

.content{
    padding: 6px 0px 0px 0px;
}

.logo-lang{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px 0px;
}

.footer-logo{
    background-image: url(/Amazon-Landing-Page/images/amazon_logo.png);
    width: 110px;
    height: 70px;
    background-size: cover;
    background-position: center;
}

.logo-lang-series{
    height: 35px;
    width: 500px;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}

.space{
    width: 100px;
}

.lang{
    height: 35px;
    width: 120px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dollar{
    height: 35px;
    width: 160px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.country{
    height: 35px;
    width: 150px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section3{
    height: 380px;
    background-color: #0f1111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.one{
    padding: 0px 80px 0px 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.8rem;
}

.two{
    padding: 0px 120px 0px 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.8rem;
}

.three{
    padding: 0px 330px 0px 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.8rem;
}

.section4{
    height: 80px;
    background-color: #0f1111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: 0.8rem;
}